<nav class="sidebar sidebar-offcanvas" id="sidebar"
	th:fragment="sidebar">
	<ul class="nav">
		<th:block sec:authorize="hasAuthority('ADMIN')">
			<li class="nav-item"><a class="nav-link" href="/doashboard">
					<i class="icon-grid menu-icon"></i> <span class="menu-title">Dashboard</span>
			</a></li>
			<li class="nav-item"><a class="nav-link" href="/logiciels/">
					<i class="fas fa-code mr-3"></i> <span class="menu-title">Logiciels</span>
			</a></li>
			<li class="nav-item"><a class="nav-link" data-toggle="collapse"
				href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
					<i class="fas fa-users mr-3"></i> <span class="menu-title">Users</span>
					<i class="menu-arrow"></i>
			</a>
				<div class="collapse" id="ui-basic">
					<ul class="nav flex-column sub-menu">
						<li class="nav-item"><a class="nav-link"
							th:href="@{/users/clients}">Clients</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/users/developpers}">Developpers</a></li>
					</ul>
				</div></li>
			<li class="nav-item"><a class="nav-link" data-toggle="collapse"
				href="#auth" aria-expanded="false" aria-controls="auth"> <i
					class="fas fa-clipboard-list mr-3"></i> <span class="menu-title">Tickets</span>
					<i class="menu-arrow"></i>
			</a>
				<div class="collapse" id="auth">
					<ul class="nav flex-column sub-menu">
						<li class="nav-item"><a class="nav-link"
							href="/tickets/pending"> Pending </a></li>
						<li class="nav-item"><a class="nav-link"
							href="/tickets/processing"> Processing </a></li>
						<li class="nav-item"><a class="nav-link"
							href="/tickets/resolved"> Resolved </a></li>
						<li class="nav-item"><a class="nav-link"
							href="/tickets/not-affected"> Not affected </a></li>
					</ul>
				</div></li>
		</th:block>
		<th:block sec:authorize="hasAuthority('DEVELOPPER')">
			<li class="nav-item"><a class="nav-link" data-toggle="collapse"
				href="#auth" aria-expanded="false" aria-controls="auth"> <i
					class="fas fa-clipboard-list mr-3"></i> <span class="menu-title">My
						tickets</span> <i class="menu-arrow"></i>
			</a>
				<div class="collapse" id="auth">
					<ul class="nav flex-column sub-menu">
						<li class="nav-item"><a class="nav-link"
							href="/developper/profile/tickets/pending"> Pending </a></li>
						<li class="nav-item"><a class="nav-link"
							href="/developper/profile/tickets/processing"> Processing </a></li>
						<li class="nav-item"><a class="nav-link"
							href="/developper/profile/tickets/resolved"> Resolved </a></li>
					</ul>
				</div></li>
		</th:block>
		<th:block sec:authorize="hasAuthority('CLIENT')">
			<li class="nav-item"><a class="nav-link" data-toggle="collapse"
				href="#auth" aria-expanded="false" aria-controls="auth"> <i
					class="fas fa-clipboard-list mr-3"></i> <span class="menu-title">My
						tickets</span> <i class="menu-arrow"></i>
			</a>
				<div class="collapse" id="auth">
					<ul class="nav flex-column sub-menu">
						<li class="nav-item"><a class="nav-link"
							href="/client/profile/tickets/pending"> Pending </a></li>
						<li class="nav-item"><a class="nav-link"
							href="/client/profile/tickets/processing"> Processing </a></li>
						<li class="nav-item"><a class="nav-link"
							href="/client/profile/tickets/resolved"> Resolved </a></li>
					</ul>
				</div></li>
		</th:block>
	</ul>
</nav>