<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" href="@{/images/favicon.png}" />
<title>login</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/vendors/feather/feather.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/vendors/ti-icons/css/themify-icons.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/vendors/css/vendor.bundle.base.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/vertical-layout-light/style.css}" />
</head>
<body>
	<div class="container-scroller">
		<div class="container-fluid page-body-wrapper full-page-wrapper">
			<div class="content-wrapper d-flex align-items-center auth px-0">
				<div class="row w-100 mx-0">
					<div class="col-lg-4 mx-auto">
						<div class="auth-form-light text-left py-5 px-4 px-sm-5">
							<div class="brand-logo">
								<img src="../../images/logo.svg" alt="logo">
							</div>
							<h4>Hello! let's get started</h4>
							<h6 class="font-weight-light">Sign in to continue.</h6>
							<div th:if="${param.error}">
								<p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
							</div>
							<div th:if="${successMessage != null}"
								class="alert alert-success col-12" th:text="${successMessage}"
								role="alert"></div>
							<div th:if="${warningMessage != null}"
								class="alert alert-warning col-12" th:text="${warningMessage}"
								role="alert"></div>
							<div th:if="${dangerMessage != null}"
								class="alert alert-danger col-12" th:text="${dangerMessage}"
								role="alert"></div>
							<form class="pt-3" th:action="@{/login}" method="post">
								<div class="form-group">
									<input type="text" name="username"
										class="form-control form-control-lg" id="username"
										placeholder="username">
								</div>
								<div class="form-group">
									<input type="password" name="password"
										class="form-control form-control-lg" id="password"
										placeholder="password">
								</div>
								<div class="mt-3">
									<input
										class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
										type="submit" />
								</div>
								<div
									class="my-2 d-flex justify-content-between align-items-center">
									<div class="form-check">
										<label class="form-check-label text-muted"> <input
											type="checkbox" class="form-check-input"> Keep me
											signed in
										</label>
									</div>
									<a href="#" class="auth-link text-black">Forgot password?</a>
								</div>
								<div class="text-center mt-4 font-weight-light">
									Don't have an account? <a href="/register" class="text-primary">Create</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- content-wrapper ends -->
		</div>
	</div>
</body>
<script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
<script th:src="@{/js/off-canvas.js}"></script>
<script th:src="@{/js/hoverable-collapse.js}"></script>
<script th:src="@{/js/template.js}"></script>
<script th:src="@{/js/settings.js}"></script>
<script th:src="@{/js/todolist.js}"></script>
</html>
