<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" href="@{/images/favicon.png}" />
<title>Welcome</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/vendors/feather/feather.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/vendors/ti-icons/css/themify-icons.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/vendors/css/vendor.bundle.base.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/vendors/select2/select2.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/vendors/select2-bootstrap-theme/select2-bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/vertical-layout-light/style.css}" />
</head>
<body>
	<div class="container-scroller">
		<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row"
			th:replace="/layout_views/_navbar.html :: navbar"></nav>
		<div class="container-fluid page-body-wrapper">
			<div class="theme-setting-wrapper"
				th:replace="/layout_views/_settings-panel.html :: settings-panel"></div>
			<nav class="sidebar sidebar-offcanvas" id="sidebar"
				th:replace="/layout_views/_sidebar.html :: sidebar"></nav>
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="row">
						<div th:if="${successMessage != null}"
							class="alert alert-success col-12" th:text="${successMessage}"
							role="alert"></div>
						<div th:if="${warningMessage != null}"
							class="alert alert-warning col-12" th:text="${warningMessage}"
							role="alert"></div>
						<div th:if="${dangerMessage != null}"
							class="alert alert-danger col-12" th:text="${dangerMessage}"
							role="alert"></div>
						<div class="col-lg-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<h1 class="display-1">Add ticket:</h1>
									<form class="forms-sample"
										th:action="@{/client/profile/tickets/create}" method="post"
										th:object="${ticket}">
										<div class="form-group">
											<label for="description">description:</label>
											<textarea class="form-control" id="description" rows="4"
												th:field="*{description}"></textarea>
										</div>
										<div class="form-group">
											<label for="envirenement">environment:</label>
											<textarea class="form-control" id="envirenement" rows="4"
												th:field="*{environment}"></textarea>
										</div>
										<div class="form-group">
											<label for="priority">priority</label> <select
												th:field="*{priority}" class="form-control" id="priority">
												<option th:text="URGENT" value="URGENT"></option>
												<option th:text="NORMAL" value="NORMAL"></option>
												<option th:text="NOT_URGENT" value="NOT_URGENT"></option>
												<option th:text="CRITIQUE" value="CRITIQUE"></option>
											</select>
										</div>
										<div class="form-group">
											<label for="logiciel">logiciel</label> <select
												class="form-control" id="logiciel" th:field="*{logiciel}">
												<th:block th:each="logiciel: ${logiciels}">
													<option th:text="${logiciel.name}"
														th:value="${logiciel.id}"></option>
												</th:block>
											</select>
										</div>
										<button type="submit" class="btn btn-primary mr-2">add</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<nav class="footer"
					th:replace="/layout_views/_footer.html :: footer"></nav>
			</div>
		</div>
	</div>
</body>
<script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
<script th:src="@{/vendors/chart.js/Chart.min.js}"></script>
<script th:src="@{/js/off-canvas.js}"></script>
<script th:src="@{/js/hoverable-collapse.js}"></script>
<script th:src="@{/js/template.js}"></script>
<script th:src="@{/js/settings.js}"></script>
<script th:src="@{/js/todolist.js}"></script>
<script th:src="@{/js/chart.js}"></script>
</html>
