<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" href="@{/images/favicon.png}" />
<title>Welcome</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/vendors/feather/feather.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/vendors/ti-icons/css/themify-icons.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/vendors/css/vendor.bundle.base.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/vendors/select2/select2.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/vendors/select2-bootstrap-theme/select2-bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/vertical-layout-light/style.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/vendors/mdi/css/materialdesignicons.min.css}" />
<script defer
	src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
	integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.15.4/css/solid.css"
	integrity="sha384-Tv5i09RULyHKMwX0E8wJUqSOaXlyu3SQxORObAI08iUwIalMmN5L6AvlPX2LMoSE"
	crossorigin="anonymous" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.15.4/css/fontawesome.css"
	integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7"
	crossorigin="anonymous" />
</head>
<body>
	<div class="container-scroller">
		<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row"
			th:replace="/layout_views/_navbar.html :: navbar"></nav>
		<div class="container-fluid page-body-wrapper">
			<div class="theme-setting-wrapper"
				th:replace="/layout_views/_settings-panel.html :: settings-panel"></div>
			<nav class="sidebar sidebar-offcanvas" id="sidebar"
				th:replace="/layout_views/_sidebar.html :: sidebar"></nav>
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="row">
						<div class="col-lg-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<h1 class="display-1" th:if="${status == 'PENDING'}">Demandes
										En attentes</h1>
									<h1 class="display-1" th:if="${status == 'ACCEPTED'}">Demandes
										Accept&eacute;es</h1>
									<h1 class="display-1" th:if="${status == 'REFUSED'}">Demandes
										Refus&eacute;es</h1>
									<div class="table-responsive">
										<div class="text-right mb-3 mt-3 mr-1">
											<a th:href="@{/professeur/profile/demandes/add}">
												<button type="button"
													class="btn btn-outline-success btn-icon-text">
													<i class="ti-file btn-icon-prepend"></i> Ajouter une
													demande
												</button>
											</a>
										</div>
										<table class="table table-striped">
											<thead>
												<tr>
													<th>#</th>
													<th>motivation</th>
													<th>status</th>
													<th>date de creation</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<div th:if="${#lists.size(demandes) == 0}"
														class="alert alert-info" role="alert">
														Pas de demande
														<th:block th:if="${status == 'PENDING'}">
														    En attente
									                    </th:block>
														<th:block th:if="${status == 'ACCEPTED'}">
									                        Accept&eacute;e
									                    </th:block>
														<th:block th:if="${status == 'REFUSED'}">
									                        Refus&eacute;e
									                    </th:block>
														disponible pour le moment !
													</div>
												</tr>
												<th:block th:each="demande : ${demandes}">
													<tr>
														<td th:text="${demande.id}"></td>
														<td th:text="${demande.motivation}"></td>
														<td><span th:if="${demande.status == 'PENDING'}"
															class="badge rounded-pill bg-primary text-light">En
																attente</span> <span th:if="${demande.status == 'ACCEPTED'}"
															class="badge rounded-pill bg-success text-light">Accept&eacute;e</span>
															<span th:if="${demande.status == 'REFUSED'}"
															class="badge rounded-pill bg-danger text-light">Refus&eacute;e</span></td>
														<td th:text="${demande.dateCreation}"></td>
													</tr>
												</th:block>
											</tbody>
										</table>
									</div>
									<footer style="font-size: large" class="panel-footer">
										Total Items [[${totalItems}]] : Page [[${currentPage}]] of
										[[${totalPages}]] &nbsp; &nbsp; - &nbsp;
										<div class="btn-group" role="group" aria-label="Basic example">
											<span th:each="i: ${#numbers.sequence(1, totalPages)}">
												<a
												th:href="@{'/professeur/profile/demandes/' + ${#strings.toLowerCase(status)} + '/page/' + ${i}}"><button
														type="button"
														class="btn btn-inverse-primary btn-fw p-1 m-0">[[${i}]]</button></a>
												&nbsp; &nbsp;
											</span>
										</div>
									</footer>
								</div>
							</div>
						</div>
					</div>
				</div>
				<nav class="footer"
					th:replace="/layout_views/_footer.html :: footer"></nav>
			</div>
		</div>
	</div>
</body>
<script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
<script th:src="@{/vendors/chart.js/Chart.min.js}"></script>
<script th:src="@{/js/off-canvas.js}"></script>
<script th:src="@{/js/hoverable-collapse.js}"></script>
<script th:src="@{/js/template.js}"></script>
<script th:src="@{/js/settings.js}"></script>
<script th:src="@{/js/todolist.js}"></script>
<script th:src="@{/js/chart.js}"></script>
<script th:src="@{/js/file-upload.js}"></script>
<script th:src="@{/js/select2.js}"></script>
<script th:src="@{/js/typeahead.js}"></script>
</html>
